node_modules/
library/
*.log
.DS_Store
.idea
.env
.venv
venv/
__pycache__/
*.pyc
.vscode/
dist/
build/
*.egg-info/
coverage/
htmlcov/
*.sqlite3
*.db
*.iml
*.class
out/
output/
logs/
.jsforge-data/
.jsforge-store/
